{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="bg-white rounded">
                {% if request.user.is_authenticated %}
                    <h4 align="center">Welcome to DJANGOGRAM!</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <h4> Your and your friend's photos: </h4>
                                {% for picture in pictures %}
                                    <div class="row shadow-sm p-3 mb-5 bg-white rounded">
                                        <div class="col-md">
                                            <p><img src="{{ picture.picture.url }}" alt="OOOps, where is picture?" width="150" height="180"></p>
                                        </div>
                                        <div class="col-md">
                                            <p>Author: {{ picture.user.first_name }} {{ picture.user.last_name }}</p>
                                            <p>Title: {{ picture.picture_title }}</p>
                                            <p>Public date: {{ picture.pub_date }}</p>

                                            <p>{{ picture.total_likes }} Like {{ picture.total_likes|pluralize }}</p>
<-- Это кусок до изменений -->
                                            {% if picture not in auth_user.userpicture_set.all%}
                                                {% if picture in auth_user.likes.all %}
                                                    <a href="{% url 'accounts:like' pk=user.pk operation='dislike' picture_id=picture.id %}">
                                                        <button type="submit" class="btn btn-danger">Dislike</button>
                                                    </a>

                                                {% else %}
                                                    <a href="{% url 'accounts:like' pk=user.pk operation='like' picture_id=picture.id %}">
                                                        <button type="submit" class="btn btn-primary">Like</button>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
<-- Это кусок до изменений -->

<-- Вот тут я вношу изменения в лайки -->
                                            <div id="like_count"><p>{{ picture.total_likes }} Like{{ picture.total_likes|pluralize }}</p></div>
                                            {% if picture not in auth_user.userpicture_set.all%}
                                                <form id="like_form" method="POST" data-url="{% url 'accounts:like' pk=user.pk operation='like' picture_id=picture.id %}">
                                                    {% csrf_token %}
                                                    {% if picture in auth_user.likes.all %}
                                                        <button type="button" class="btn btn-danger" id="button_dislike">Dislike</button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-primary" id="button_like">Like</button>
                                                    {% endif %}
                                                </form>
                                            {% endif %}
<-- Вот тут я вношу изменения в лайки -->

                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="col-md-4">
                                <h4> Other users: </h4>
                                <i> TIP: Add some new friends to get a look on a larger photo set </i>
                                <div>
                                    {% for user in users %}
                                        <h6><a href="{% url 'accounts:profile_page_friend' pk=user.pk %}">
                                            {{ user.username }}
                                            {% if user.first_name != '' and user.last_name != '' %}
                                                <i>a.k.a</i> {{ user.first_name }} {{ user.last_name }}
                                            {% endif %}
                                        </a></h6>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
</div>

    <-- Скрипт -->
    <script type="text/javascript">
        $('#button_like').click(function(){
            var serializedData = $("#like_form").serialize();
            var url = $("#like_form").data('url');
            console.log(url)

            $.ajax({
                type: 'POST',
                data: serializedData,

                url: url,
                success: function(response){
                    $('#like_count').replaceWith("<p>" + response['like'] + "</p>");
                    console.log(this.url)
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                },

                });
            });
    </script>
    <-- Скрипт -->


{% endblock %}