{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <h3>{{ user.first_name }} {{ user.last_name }}</h3>

                {% if auth_user.username == user.username %}
                    <p><a href="{% url 'accounts:edit_profile' %}">Edit your profile info</a></p>
                {% elif auth_user.username != user.username %}
                <form id="friend_form" method="POST">
                    {% csrf_token %}
                    {% if is_friend %}
                        <button type="button"
                            class="btn btn-light"
                            id="button_nofriend"
                            data-url_change="{% url 'accounts:operation' pk=user.pk operation='add' %}"
                            data-url="{% url 'accounts:operation' pk=user.pk operation='remove' %}">Remove friend</button>
                    {% else %}
                        <button type="button"
                            class="btn btn-success"
                            id="button_befriend"
                            data-url_change="{% url 'accounts:operation' pk=user.pk operation='remove' %}"
                            data-url="{% url 'accounts:operation' pk=user.pk operation='add' %}">Add friend</button>
                    {% endif %}
                </form>
                {% endif %}

                {% if user.userprofile.image %}
                    <p><img src="{{ user.userprofile.image.url }}" alt="User's avatar" width="150" height="180"></p>
                {% endif %}

                <p><i> {{ user.userprofile.bio }} </i></p>

                {% if  auth_user.username == user.username %}
                    <h5> Your friends list: </h5>
                {% elif auth_user.username != user.username %}
                    <h5> {{ user.first_name }}'s friends list: </h5>
                {% endif %}

                {% for friend in friends %}
                    <h6><a href="{% url 'accounts:profile_page_friend' pk=friend.pk %}">
                        {{ friend.username }}
                        {% if friend.first_name != '' and friend.last_name != '' %}
                            <i>a.k.a</i> {{ friend.first_name }} {{ friend.last_name }}
                        {% endif %}
                    </a></h6>
                {% endfor %}

            </div>

            <div class="col-md-8">
                {% if auth_user.username == user.username %}
                    <div class="shadow-sm p-3 mb-5 bg-white rounded">

                        <form id="picture_form" enctype="multipart/form-data" method="POST"
                              data-url="{% url 'accounts:profile_page' %}">{% csrf_token %}
                            {% if user.is_authenticated %}
                                {{ form.as_p }}
                            {% endif %}
                            <p><input type="button" value="Add Picture" id="button_picture"></p>
                        </form>

                    </div>
                {% endif %}

                <div id="img_div">
                    {% if pictures %}
                        <div id="pic_row"></div>
                        {% for picture in pictures %}
                            <div class="row shadow-sm p-3 mb-5 bg-white rounded" id="picture_column">

                                <div class="col-md">
                                    <p><img src="{{ picture.picture.url }}" alt="OOOps, where is picture?" width="150" height="180"></p>
                                </div>
                                <div class="col-md">
                                    <p>Title: {{ picture.picture_title }}</p>
                                    <p>Public date: {{ picture.pub_date }}</p>

                                   <div id="like_count">
                                       <p> Likes: {{ picture.total_likes }}</p>
                                   </div>

                                   {% if picture not in auth_user.userpicture_set.all%}
                                       <form id="like_form" method="POST">
                                           {% csrf_token %}
                                           {% if picture in auth_user.likes.all %}
                                                <button type="button"
                                                        class="btn btn-danger"
                                                        id="button_dislike"
                                                        data-url_change="{% url 'accounts:like' pk=user.pk operation='like' picture_id=picture.id %}"
                                                        data-url="{% url 'accounts:like' pk=user.pk operation='dislike' picture_id=picture.id %}">Dislike</button>
                                            {% else %}
                                                <button type="button"
                                                        class="btn btn-primary"
                                                        id="button_like"
                                                        data-url_change="{% url 'accounts:like' pk=user.pk operation='dislike' picture_id=picture.id %}"
                                                        data-url="{% url 'accounts:like' pk=user.pk operation='like' picture_id=picture.id %}">Like</button>
                                            {% endif %}
                                        </form>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>



{% endblock %}
