{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
    <div class="container">
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>

        <p><a href="edit">Edit profile info</a></p>

        <p>
        <img src="{{ user.userprofile.image.url }}" alt="User's avatar" width="150" height="180">
        </p>

        <p>
            <i> {{ user.userprofile.bio }} </i>
        </p>
        <button type="submit" class="btn btn-primary">Add image</button>
        <button type="submit" class="btn btn-primary">View my images</button>
        <button type="submit" class="btn btn-primary">View all users</button>
    </div>
{% endblock %}
