{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <h3>{{ user.first_name }} {{ user.last_name }}</h3>

                {% if auth_user.username == user.username %}
                    <p><a href="{% url 'accounts:edit_profile' %}">Edit your profile info</a></p>
                {% elif auth_user.username != user.username %}
                    {% if is_friend %}
                        <a href="{% url 'accounts:operation' pk=user.pk operation='remove' %}">
                            <button type="button" class="btn btn-light">Remove from friends</button>
                        </a>
                    {% else %}
                        <a href="{% url 'accounts:operation' pk=user.pk operation='add' %}">
                            <button type="button" class="btn btn-success">Add to friend list</button>
                        </a>
                    {% endif %}
                {% endif %}

                {% if user.userprofile.image %}
                    <p><img src="{{ user.userprofile.image.url }}" alt="User's avatar" width="150" height="180"></p>
                {% endif %}

                <p><i> {{ user.userprofile.bio }} </i></p>

                {% if  auth_user.username == user.username %}
                    <h5> Your friends list: </h5>
                {% elif auth_user.username != user.username %}
                    <h5> {{ user.first_name }}'s friends list: </h5>
                {% endif %}

                {% for friend in friends %}
                    <h6><a href="{% url 'accounts:profile_page_friend' pk=friend.pk %}">
                        {{ friend.username }}
                        {% if friend.first_name != '' and friend.last_name != '' %}
                            <i>a.k.a</i> {{ friend.first_name }} {{ friend.last_name }}
                        {% endif %}
                    </a></h6>
                {% endfor %}

            </div>

            <div class="col-md-8">
                {% if auth_user.username == user.username %}
                    <div class="shadow-sm p-3 mb-5 bg-white rounded">
                        <form enctype="multipart/form-data" method="POST">
                            {% if user.is_authenticated %}
                                {% csrf_token %}
                                {{ form.as_p }}
                            {% endif %}
                            <p><input type="submit" value="Add Picture" id="submit"></p>
                        </form>
                    </div>
                {% endif %}


                {% if pictures %}
                    {% for picture in pictures %}
                        <div class="row shadow-sm p-3 mb-5 bg-white rounded">
                            <div class="col-md">
                                <p><img src="{{ picture.picture.url }}" alt="OOOps, where is picture?" width="150" height="180"></p>
                            </div>
                            <div class="col-md">
                                <p>Title: {{ picture.picture_title }}</p>
                                <p>Public date: {{ picture.pub_date }}</p>
                                <p>{{ picture.total_likes }} Like {{ picture.total.likes|pluralize }}</p>
                                {% if auth_user.username != user.username %}
                                    {% if picture in auth_user.likes.all %}
                                        <a href="{% url 'accounts:like' pk=user.pk operation='dislike' picture_id=picture.id %}">
                                            <button type="submit" class="btn btn-danger">Dislike</button>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'accounts:like' pk=user.pk operation='like' picture_id=picture.id %}">
                                            <button type="submit" class="btn btn-primary">Like</button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
