{% extends 'base.html' %}

{% block title %} o_OPS Error! {% endblock %}

{% block content %}

<div class="container" style="margin-top: 50px;">  
        <div class="row justify-content-center">  
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">  
                <h2>OOOPS, THE ERROR OCCURED!</h2>
                {% for key, key_errors in form.errors.as_data.items %}
                    {{ key }}
                    {% for error in key_errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </div>  
        </div>  
</div>

{% endblock %}