{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
    <div class="container">
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>

            <p>
                <a href="/accounts/pictures/{{ user.username }}/">Pictures of {{ user.first_name }}</a>
            </p>

        {% if user.userprofile.image %}
            <p><img src="{{ user.userprofile.image.url }}" alt="User's avatar" width="150" height="180"></p>
        {% endif %}

        <p>
            <i> {{ user.userprofile.bio }} </i>
        </p>
    </div>
{% endblock %}
